################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ZeneProj/.vs/ZeneProj/FileContentIndex/c5b3c76a-5875-4d8b-aee4-d759ad343238.vsidx
/ZeneProj/.vs/ZeneProj/v17
